name: Export Docker Image

on:
  workflow_dispatch:

jobs:
  export-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Pull Docker Image
      run: docker pull borgheimohammad/eittawebapp:latest

    - name: Save Docker Image as TAR
      run: docker save borgheimohammad/eittawebapp:latest -o eittawebapp.tar

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: eittawebapp-tar
        path: eittawebapp.tar
